*{font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
font-family: 'Poppins';
background-color: #F8F8F8;
}
html{
  scroll-behavior: smooth;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.container{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
a{
  text-decoration: none;
}
/* nav Bar */

.header{font-size: 17;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #E5E5E5;
  padding-right: 20px;
}
.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header .logo img{

  width: 200px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
  border-bottom: 2px solid #146F63;
}
.header .main-nav{
  display: flex;
}
.header .main-nav > li >a{
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-size: 17px;
  font-weight: 500;
  position: relative;
  color: #333333;
  padding: 0 30px;
  transition: .3s;
  overflow: hidden;
}
.header .main-nav > li >a::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #146F63;
  bottom: 0;
  left: -100%;
  transition: .4s;

}
.header .main-nav > li >a:hover{
  background-color: #fafafa;
  height: 80px;
}
.header .main-nav > li >a:hover::before{
  left: 0;
}
.this_page{
  border: 1px solid #146f63;
}
.connect{font-size: 17;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 20px;
  width: 120px;
  height: 40px;
  border: 1px solid #146F63;
  background-color:#E7F0EF;
}
.connecter {
  margin-top: 20px;
  margin-left: 20px;
  padding-top: 7px;
  text-align: center;
  width: 140px;
  height: 40px;
  background: #e7f0ef;
  font-size: 17;
  color: #333333;
  text-decoration: none;
  border: 1px solid #146f63;
}
.connecter:hover {
  background: #146f63;
  color: white;
}

.contacts_layout{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 40px;
}
.contact_frame{
  
  height: 350px;
  width: 350px;
  position: relative;
  background-image: url("/Public/images/contact_frame.png");
  background-size: contain;
  background-repeat: no-repeat;
  
}
.contact_frame_content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 17px;
}
.contact_icon{
  height: 35px;width: 35px; display: block; left: 50%;position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}


