* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
  background-color: #f8f8f8;
}
html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
a {
  text-decoration: none;
}
/* nav Bar */

.header {
  font-size: 17;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  padding-right: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header .logo img {
  width: 200px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
  border-bottom: 2px solid #146f63;
  margin-bottom: 65px;
}
.header .main-nav {
  display: flex;
}
.header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-size: 17px;
  font-weight: 500;
  position: relative;
  color: #333333;
  padding: 0 30px;
  transition: 0.3s;
  overflow: hidden;
}
.header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #146f63;
  bottom: 0;
  left: -100%;
  transition: 0.4s;
}
.header .main-nav > li > a:hover {
  background-color: #fafafa;
  height: 80px;
}
.header .main-nav > li > a:hover::before {
  left: 0;
}
.this_page {
  border: 1px solid #146f63;
}

.connecter {
  margin-top: 20px;
  margin-left: 20px;
  padding-top: 10px;
  text-align: center;
  width: 140px;
  height: 40px;
  background: #e7f0ef;
  font-size: 17px;
  color: #333333;
  text-decoration: none;
  border: 1px solid #146f63;
}
.connecter:hover {
  background: #146f63;
  color: white;
}

.projets {
  position: relative;
}
.sous-menu {
  visibility: hidden;
  text-align: center;
  list-style-type: none;
  position: relative;
  left: 0px;
  overflow: hidden;
  max-height: 200px;
  padding: 10;
}
.projets:hover > .sous-menu {
  visibility: visible;
  background-color: #e7f0ef;
}
.sous-menu > li > a {
  color: #333333;
}
.sous-menu > li {
  padding: 5px;
}
.sous-menu > li:hover {
  background-color: #146f63;
}
.sous-menu > li:hover > a {
  color: white;
}


/* end nav bar */

/* Start Home  */
.title {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  /* margin-top: 10px; */
  margin: 20px;
}
.line {
  margin-top: 5px;
  position: relative;
  height: 0%;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: -5;
  border: 1px solid #e5e5e5;
}
/* menu */

/* .horizontal-scroll{
  width: 100px;
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg);
  transform-origin: right top;
  transform:rotate(-90deg) translateY(-100px);
}*/

.horizontal-scroll {
  display: flex;
  position: relative;
  top: 200;
  left: 0;
  width: auto;
  height: 100%;
  margin: 0;
  padding-top: 0px;
  overflow-y: hidden;
  margin-top: 30px;
}
.div1 {
  
  max-width: 350px;
  min-width: 340px;
  height: 350px;
  margin: 10px 20px;
  padding: 20px;
  background-size:cover;
  text-align: center;
  background-image: url("/Public/images/card.png");
  background-repeat: no-repeat;
}
.content {

  width: 0px;
  position: absolute;
  margin-top: 40px;
  margin-left: 5px;
}
.content > h5 {
  width: 300px;
  padding: 10px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 17px;
}
.discover {
  display: inline-block;
  text-align: center;
  margin-top: 0px;
  margin-left: 90px;
  padding: 10px 0px;
  width: 120px;
  height: 40px;
  background: #f8f8f8;
  font-size: 17;
  color: #333333;
  text-decoration: none;
  border: 1px solid #146f63;
 
}
.discover:hover {
  background: #146f63;
  color: white;
}
::-webkit-scrollbar-track {
  background: #f8f8f8; 
}
